Exercise 1: Create a Jupyter Notebook

Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction, Exercise 10 - Insert a markdown cell to list Objectives

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science
* Python
* R Language
* Julia
* Scala

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R Language
3. Julia

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Scikit-learn
2. Pandas
3. Matplotlib

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools|
|-------------------|
| RStudio |
| Visual code | 
| Jupyter Notebooks|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Kasman Bin Abu